In [28]:
# pip install geopandas pip install GeoAlchemy2
# pip install GeoAlchemy2
# pip install shapely

SyntaxError: invalid syntax (3893968277.py, line 3)

In [31]:
pip install shapely

Requirement already satisfied: shapely in /home/n.bingani/Documents/Work/nccrd-build/nccrd-server/.venv/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.21 in /home/n.bingani/Documents/Work/nccrd-build/nccrd-server/.venv/lib/python3.10/site-packages (from shapely) (2.2.5)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: /home/n.bingani/Documents/Work/nccrd-build/nccrd-server/.venv/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [29]:
import geopandas as gpd
import pandas as pd
import os

print(os.getcwd())
gdf__country = gpd.read_file('./region_data/south_africa_South_Africa_Country_Boundary.geojson')
gdf_province = pd.read_csv('./region_data/provinces.csv')
gdf_district = gpd.read_file('./region_data/DistrictMunicipality2018.json')
gdf_local_district = gpd.read_file('./region_data/LocalMunicipality2018.json')
# gdf_ward = gpd.read_file('Ward2018.json')
# sub_places = gpd.read_file('SubPlace2018.json')

/home/n.bingani/Documents/Work/nccrd-build/nccrd-server/migrate

In [21]:
print(gdf__country.shape)
gdf__country.head()

(1, 7)

,shape0,shapeiso,shapeid,shapegroup,shapetype,gid,geometry
0,South Africa,ZAF,27424455B76804586687927,ZAF,ADM0,1,"MULTIPOLYGON (((19.41807 -34.68668, 19.41806 -..."

In [22]:
# Display the first few rows of the GeoDataFrame
print(gdf_province.shape)
gdf_province.head()

(9, 11)

,PR_MDB_C,PR_CODE,PR_CODE_st,PR_NAME,ALBERS_ARE,SHAPE_Leng,X,Y,Shape__Area,Shape__Length,FID
0,EC,2,2,Eastern Cape,168965.967455,28.206381,26.446400,-32.153999,16.154667,28.206381,1
1,FS,4,4,Free State,129825.156440,24.249596,26.867300,-28.614401,11.979428,24.249596,2
2,GT,7,7,Gauteng,18178.305525,10.967065,28.125799,-26.106100,1.640382,10.967065,3
3,KZN,5,5,Kwazulu-Natal,94361.317676,19.024784,30.748600,-28.716600,8.715379,19.024784,4
4,LIM,9,9,Limpopo,124004.283867,22.858145,29.372101,-23.209299,11.456108,22.858145,5

In [23]:
print(gdf_district.shape)
gdf_district.head()

(52, 7)

,FID,PROVINCE,DISTRICT,DISTRICT_N,DATE,CATEGORY,geometry
0,0,EC,BUF,Buffalo City,1561420800000,A,"POLYGON ((27.35458 -32.67444, 27.35393 -32.674..."
1,1,EC,DC10,Sarah Baartman,1561420800000,C,"POLYGON ((24.63581 -31.71836, 24.62785 -31.712..."
2,2,EC,DC12,Amathole,1561420800000,C,"POLYGON ((28.26665 -31.80154, 28.26643 -31.801..."
3,3,EC,DC13,Chris Hani,1561420800000,C,"POLYGON ((26.37107 -31.18372, 26.37098 -31.183..."
4,4,EC,DC14,Joe Gqabi,1561420800000,C,"POLYGON ((27.45974 -30.31326, 27.4592 -30.3132..."

In [24]:
print(gdf_local_district.shape)
gdf_local_district.head()

(213, 13)

,FID,OBJECTID,PROVINCE,CATEGORY,CAT2,CAT_B,MUNICNAME,NAMECODE,MAP_TITLE,DISTRICT,DISTRICT_N,DATE,geometry
0,0,197,WC,B,Local Municipality,WC032,Overstrand,Overstrand (WC032),Overstrand Local Municipality,DC3,Overberg,1561420800000,"MULTIPOLYGON (((19.41807 -34.68668, 19.41806 -..."
1,1,138,WC,B,Local Municipality,WC033,Cape Agulhas,Cape Agulhas (WC033),Cape Agulhas Local Municipality,DC3,Overberg,1561420800000,"POLYGON ((20.06351 -34.21699, 20.04797 -34.210..."
2,2,160,WC,B,Local Municipality,WC031,Theewaterskloof,Theewaterskloof (WC031),Theewaterskloof Local Municipality,DC3,Overberg,1561420800000,"POLYGON ((19.2974 -33.88968, 19.27819 -33.8794..."
3,3,142,WC,B,Local Municipality,WC043,Mossel Bay,Mossel Bay (WC043),Mossel Bay Local Municipality,DC4,Garden Route,1561420800000,"POLYGON ((22.12817 -33.85624, 22.12368 -33.846..."
4,4,141,WC,B,Local Municipality,WC042,Hessequa,Hessequa (WC042),Hessequa Local Municipality,DC4,Garden Route,1561420800000,"POLYGON ((21.74781 -33.81114, 21.74766 -33.811..."

In [27]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect('geodata.db')

# Save gdf_province to the database
gdf_province.to_sql('province', conn, if_exists='replace', index=False)

# Save gdf_district to the database
gdf_district.to_sql('district', conn, if_exists='replace', index=False)

# Save gdf_local_district to the database
gdf_local_district.to_sql('local_district', conn, if_exists='replace', index=False)

# Save gdf__country to the database
gdf__country.to_sql('country', conn, if_exists='replace', index=False)

# Close the connection
conn.close()

In [26]:
from shapely import wkt

# Convert the geometry column of gdf_district to WKT
gdf_district['geometry'] = gdf_district['geometry'].apply(lambda geom: geom.wkt)

# Convert the geometry column of gdf_local_district to WKT
gdf_local_district['geometry'] = gdf_local_district['geometry'].apply(lambda geom: geom.wkt)

# Convert the geometry column of gdf__country to WKT
gdf__country['geometry'] = gdf__country['geometry'].apply(lambda geom: geom.wkt)

/tmp/ipykernel_39348/1840474641.py:4: UserWarning: Geometry column does not contain geometry.
  gdf_district['geometry'] = gdf_district['geometry'].apply(lambda geom: geom.wkt)
/tmp/ipykernel_39348/1840474641.py:7: UserWarning: Geometry column does not contain geometry.
  gdf_local_district['geometry'] = gdf_local_district['geometry'].apply(lambda geom: geom.wkt)
/tmp/ipykernel_39348/1840474641.py:10: UserWarning: Geometry column does not contain geometry.
  gdf__country['geometry'] = gdf__country['geometry'].apply(lambda geom: geom.wkt)

In [1]:
# from fastapi import FastAPI
# import uvicorn
# from threading import Thread

# app = FastAPI()

# @app.get("/country")
# def get_country():
#     # conn = sqlite3.connect('geodata.db')
#     # query = "SELECT * FROM country"
#     # df = pd.read_sql_query(query, conn)
#     # conn.close()
#     # return df.to_dict(orient='records')
#     return {"Country":"ZA"}

# def run():
#     uvicorn.run(app, host="127.0.0.1", port=8000)

# Thread(target=run).start()

In [22]:
# pip install fastapi uvicorn[standard] sqlalchemy

In [1]:
from fastapi import FastAPI, HTTPException
from pydantic import BaseModel
from typing import List, Optional
import sqlite3
import uvicorn
from threading import Thread

In [2]:
app = FastAPI()
DB_PATH = "./geodata.db"

# ---------- Database Helper ----------
def get_connection():
    conn = sqlite3.connect(DB_PATH)
    conn.row_factory = sqlite3.Row
    return conn

In [3]:
class Province(BaseModel):
    PR_MDB_C: Optional[str]
    PR_CODE: Optional[int]
    PR_CODE_st: Optional[int]
    PR_NAME: Optional[str]
    ALBERS_ARE: Optional[float]
    SHAPE_Leng: Optional[float]
    X: Optional[float]
    Y: Optional[float]
    Shape__Area: Optional[float]
    Shape__Length: Optional[float]
    FID: int

class District(BaseModel):
    FID: int
    PROVINCE: Optional[str]
    DISTRICT: Optional[str]
    DISTRICT_N: Optional[str]
    DATE: Optional[int]
    CATEGORY: Optional[str]
    geometry: Optional[str]

class LocalDistrict(BaseModel):
    FID: int
    OBJECTID: Optional[int]
    PROVINCE: Optional[str]
    CATEGORY: Optional[str]
    CAT2: Optional[str]
    CAT_B: Optional[str]
    MUNICNAME: Optional[str]
    NAMECODE: Optional[str]
    MAP_TITLE: Optional[str]
    DISTRICT: Optional[str]
    DISTRICT_N: Optional[str]
    DATE: Optional[int]
    geometry: Optional[str]

class Country(BaseModel):
    shape0: Optional[str]
    shapeiso: Optional[str]
    shapeid: Optional[str]
    shapegroup: Optional[str]
    shapetype: Optional[str]
    gid: int
    geometry: Optional[str]

class NamedItem(BaseModel):
    id: int
    code: str
    name: str

In [32]:
@app.get("/province", response_model=List[Province])
def get_provinces():
    with get_connection() as conn:
        rows = conn.execute("SELECT * FROM province").fetchall()
        print(rows)
        return [dict(row) for row in rows]

@app.get("/district", response_model=List[District])
def get_districts():
    with get_connection() as conn:
        rows = conn.execute("SELECT * FROM district").fetchall()
        return [dict(row) for row in rows]

@app.get("/local_district", response_model=List[LocalDistrict])
def get_local_districts():
    with get_connection() as conn:
        rows = conn.execute("SELECT * FROM local_district").fetchall()
        return [dict(row) for row in rows]

@app.get("/country", response_model=List[Country])
def get_countries():
    with get_connection() as conn:
        rows = conn.execute("SELECT * FROM country").fetchall()
        return [dict(row) for row in rows]

@app.get("/province/{fid}", response_model=Province)
def get_province_by_id(fid: int):
    with get_connection() as conn:
        row = conn.execute("SELECT * FROM province WHERE FID = ?", (fid,)).fetchone()
        if row is None:
            raise HTTPException(status_code=404, detail="Province not found")
        return dict(row)

@app.get("/district/{fid}", response_model=District)
def get_district_by_id(fid: int):
    with get_connection() as conn:
        row = conn.execute("SELECT * FROM district WHERE FID = ?", (fid,)).fetchone()
        if row is None:
            raise HTTPException(status_code=404, detail="District not found")
        return dict(row)

@app.get("/local_district/{fid}", response_model=LocalDistrict)
def get_local_district_by_id(fid: int):
    with get_connection() as conn:
        row = conn.execute("SELECT * FROM local_district WHERE FID = ?", (fid,)).fetchone()
        if row is None:
            raise HTTPException(status_code=404, detail="Local District not found")
        return dict(row)

@app.get("/country/{gid}", response_model=Country)
def get_country_by_id(gid: int):
    with get_connection() as conn:
        row = conn.execute("SELECT * FROM country WHERE gid = ?", (gid,)).fetchone()
        if row is None:
            raise HTTPException(status_code=404, detail="Country not found")
        return dict(row)

NameError: name 'app' is not defined

In [5]:
# ---------- Drill-down Filter Endpoints ----------
@app.get("/names/provinces", response_model=List[NamedItem])
def list_province_names():
    with get_connection() as conn:
        rows = conn.execute("SELECT FID AS id, PR_MDB_C as code,PR_NAME AS name FROM province ORDER BY PR_NAME").fetchall()
        return [dict(row) for row in rows]

@app.get("/names/districts/by_province/{province_name}", response_model=List[NamedItem])
def list_districts_by_province(province_name: str):
    with get_connection() as conn:
        rows = conn.execute("SELECT FID AS id, DISTRICT AS code, DISTRICT_N as name FROM district WHERE PROVINCE = ? ORDER BY DISTRICT", (province_name,)).fetchall()
        return [dict(row) for row in rows]

@app.get("/names/local_districts/by_district/{district_name}", response_model=List[NamedItem])
def list_local_districts_by_district(district_name: str):
    with get_connection() as conn:
        rows = conn.execute("SELECT FID AS id, CAT_B as code, MUNICNAME AS name FROM local_district WHERE DISTRICT = ? ORDER BY MUNICNAME", (district_name,)).fetchall()
        return [dict(row) for row in rows]

@app.get("/names/local_districts/by_province/{province_name}", response_model=List[NamedItem])
def list_local_districts_by_province(province_name: str):
    with get_connection() as conn:
        rows = conn.execute("SELECT FID AS id, CAT_B as code, MUNICNAME AS name FROM local_district WHERE PROVINCE = ? ORDER BY MUNICNAME", (province_name,)).fetchall()
        return [dict(row) for row in rows]

@app.get("/names/countries", response_model=List[NamedItem])
def list_countries():
    with get_connection() as conn:
        rows = conn.execute("SELECT gid AS id,shapeiso as code, shape0 AS name FROM country ORDER BY shape0").fetchall()
        return [dict(row) for row in rows]

In [ ]:
def run():
    uvicorn.run(app, host="127.0.0.1", port=8000)

Thread(target=run).start()

INFO:     Started server process [1005414]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://127.0.0.1:8000 (Press CTRL+C to quit)

INFO:     127.0.0.1:55600 - "GET / HTTP/1.1" 404 Not Found
INFO:     127.0.0.1:55606 - "GET /docs HTTP/1.1" 200 OK
INFO:     127.0.0.1:55606 - "GET /openapi.json HTTP/1.1" 200 OK
INFO:     127.0.0.1:55606 - "GET /names/countries HTTP/1.1" 200 OK